@keyframes elementActive{
	0%{
		background-color: #adadad;
		height: 8px;
		border-radius: 50%;
	}
	100%{
		background-color: #FFE53B;
		background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
		border-radius: 40%;
		width: 8px;
		height: 16px;
	}
}

.main{
	background-color: #FFE53B;
	background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
	min-height: 100vh;
	min-width: 100vw;
	font-family: 'Fira Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.main__container{
	width: 80%;
	position: relative;
	max-width:1000px;
	margin: auto;
	background: #fff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 25px;
	border-radius: 25px;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__title{
	font-size: 30px;
	max-width: 600px
}

.main__add{
	background-color: #FFE53B;
	background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	
	right: 15px;
	bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__addImg{
	height: 20px;	
	width: 20px;
}

.main__slider{
	
	align-self: center;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translatey(-50%)
}

.main__sliderElement{
	background-color: #adadad;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	margin: 3px;
	transition:  0.5s linear ;
}

.main__sliderElement_active{
	margin: 3px;
	background-color: #FFE53B;
	background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
	border-radius: 45%;
	width: 8px;
	height: 16px;
	animation: elementActive  0.3s  linear ;
}

@media screen and (max-width: 767px){
	.main__container{
      margin-top: 15px;
      margin-bottom: 15px;
      justify-content: start;
	}
	.main__title{
      font-size: 22px;
      position: absolute;
      top: 0;
      text-align: center;
   }
}